.App {
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ImgTag {
  width: 20%;
  margin-left: 2%;
  height: 140px;
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
